/*===================================================
--------------------- Variables ---------------------
===================================================*/



html {

  /* Colors */
  --fg:  #121235;
  --fg2: #be5059;
  --bg:  #fffcfa;
  --bg2: #ecc9be;

  /* Container Width */
  --width: 600px;
}



/*===================================================
---------------------- Resets -----------------------
===================================================*/



html, body, h1, h2, h3, p, ol,
ul, div, span, article,
aside, main, section, header {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: calc(0.6 * 1rem);
  line-height: 1rem;

  margin-bottom: 1rem;
  color: var(--fg);
}

li ul {
  margin-bottom: 0;
  margin-top: 0;
}

li {
  list-style-position: inside;
}

body {
  font-family: 'DM Mono', monospace;
}



/*===================================================
-------------------- Structure ----------------------
===================================================*/



article {
  width: 85%;
  max-width: var(--width);
  margin: auto;
  margin-bottom: 5rem;
}

ul, ol, blockquote, .indented, img {
  margin: 1rem;
}

img {
  width: calc(100% - 2rem);
  margin-top: 0;
}

.nav-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/*===================================================
-------------------- Components ---------------------
===================================================*/



::selection {
  background-color: var(--bg2);
}

h1 {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: bold;

  text-align: center;

  text-transform: uppercase;
  color: var(--fg2);
  letter-spacing: 0.2em;

  padding: 0 50%;

  margin-top: 3rem;
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
}


h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 0;
}

p {
  text-align: left;
}

em {
  font-style: normal;
  color: var(--fg2);
}

strong {
  font-weight: bold;
  color: var(--fg2);
}

a {
  color: var(--fg2);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  border-bottom: 2px var(--fg2) solid;
  padding: 0.5rem 1rem;
}



/*===================================================
----------------- Responsive Layout -----------------
===================================================*/



/* Mobile (Default) */
html { 
  font-size: 21px;
}


/* Tablet modifications*/
@media (min-width: 460px) {

html {
  font-size: 23px;
}

p {
  text-align: justify;
}

}


/* Desktop modifications*/
@media (min-width: 705px) {

html {
  font-size: 25px;
}

}
