.cont {
    position: relative;
    width: 100%;
    height: 100vh;
}
.c {
    --r: clamp(5px, 6.5vw, 35px);
    display: block;
    width: 100%;
    line-height: var(--r);
    font-size: calc(0.6 * var(--r));
    text-align: center;
    margin-top: 20vh;
}

.c pre {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}
