* {
    box-sizing: border-box;
}

html {
      font-size: clamp(16px, calc(13px + 1.1vw), 19px);
}

body {
    width: 100%;
    max-width: 60rem;
    font-family: system-ui, sans-serif;
    padding: 0 1rem;
    line-height: 1.625;
    margin: 0 auto;
}

#content, article, main {
    max-width: 35rem;
    margin-bottom: 5rem;
}

footer {
    margin-bottom: 3rem;
}

a {
    color: darkcyan;
}
