/*===================================================
--------------------- Variables ---------------------
===================================================*/



@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

html {

  /* Colors */
  --fg:  #121235;
  --fg2: #a3262e;
  --bg:  #fffefd;
  --bg2: #ecc9be;

  /* Container Width */
  --width: 20rem;
}



/*===================================================
---------------------- Resets -----------------------
===================================================*/



html, body, h1, h2, h3, p, ol,
ul, div, span, article,
aside, main, section, header {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: calc(0.6 * 1rem);
  line-height: 1rem;

  margin-bottom: 1rem;
  color: var(--fg);
}

li ul {
  margin-bottom: 0;
  margin-top: 0;
}

li {
  list-style-position: inside;
}

body {
  font-family: 'DM Mono', monospace;
  background-color: var(--bg);
}



/*===================================================
-------------------- Structure ----------------------
===================================================*/



article {
  width: 85%;
  max-width: var(--width);
  margin: auto;
  margin-bottom: 5rem;

}

ul, ol, blockquote, .indented, img {
  margin: 1rem;
}

img {
  width: calc(100% - 2rem);
  margin-top: 0;
}

.nav-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/*===================================================
-------------------- Components ---------------------
===================================================*/



::selection {
  background-color: var(--bg2);
  -webkit-appearance: menulist-button;
}

h1 {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: bold;

  text-align: left;

  text-transform: uppercase;
  text-shadow: 0 0 1.5px var(--fg2);
  color: var(--fg2);
  letter-spacing: 0.2em;

  padding: 0 100% 0 0;

  margin-top: 3rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: flex-start;
}


h2 {
  text-shadow: 0 0 1.2px var(--fg);
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 0;
}

p {
  text-align: left;
  text-shadow: 0 0 0.5px var(--fg);
}

em {
  font-style: normal;
  color: var(--fg2);
}

strong {
  font-weight: bold;
  color: var(--fg2);
}

a {
  color: var(--fg2);
  text-shadow: 0 0 1px var(--fg2);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  display: block;
  height: 0.1rem;
  box-sizing: border-box;
  width: 50%;
  background-color: var(--fg2);
  border: none;
  margin-top: 1.45rem;
  margin-bottom: 2.45rem;
  margin-left: 0;
}

nav {
  width: 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  border-bottom: 2px var(--fg2) solid;
  padding: 0.5rem 1rem;
}

.subtitle {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: #666;
  display: block;
  padding: 0;
  width: 70%;
}

.date {
  margin-top: 0;
  margin-bottom: 0;
  color: #888;
}


/*===================================================
----------------- Responsive Layout -----------------
===================================================*/



/* Mobile (Default) */
html { 
  font-size: 25px;
}


/* Tablet modifications*/
@media (min-width: 460px) {

html {
  font-size: 27px;
}

/* p {
  text-align: justify;
} */

}


/* Desktop modifications*/
@media (min-width: 705px) {

html {
  font-size: 30px;
}

article {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: max(100px, calc((100vw / 2) - (var(--width) / 2) - 13vw ));
  margin-right: 100px;
  /* margin-right */
}

}
